@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.checkbox {
  padding-right: 2rem;
  padding-left: 1rem;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 1rem;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 2px solid #fed113;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #fed113;
  border-color: #fed113;
}

.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: black;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #ffffce;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #fed113;
}

:root {
  --select-border: #fed113;
  --select-focus: #fed113;
  --select-arrow: var(--select-border);
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.select {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "select";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), color-stop(33%, #fff));
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select select, .select::after {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: select;
}

.select:not(.select--multiple)::after {
  content: "";
  -ms-grid-column-align: end;
      justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

select[multiple] {
  padding-right: 0;
  /*
     * Safari will not reveal an option
     * unless the select height has room to 
     * show all of it
     * Firefox and Chrome allow showing 
     * a partial option
     */
  height: 6rem;
  /* 
     * Experimental - styling of selected options
     * in the multiselect
     * Not supported crossbrowser
     */
}

select[multiple] option {
  white-space: normal;
  outline-color: var(--select-focus);
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ddd), color-stop(33%, #eee));
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

label {
  font-size: 1.125rem;
  font-weight: 500;
}

.select + label {
  margin-top: 2rem;
}

* {
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

.navbar-light {
  -webkit-box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.16);
          box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.16);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("./menu.svg");
}

.navbar-light .nav-link.active {
  color: #fed113 !important;
}

.navbar-light .nav-link {
  color: black !important;
  font-weight: 600;
}

.navbar-light .navbar-toggler {
  color: black;
  border: none;
}

.navbar-light .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input-group-prepend .input-group-text {
  background-color: white;
  border: none;
}

.form-inline .form-control {
  border: none;
}

.text-info {
  color: #fed113 !important;
}

.btn {
  font-weight: 600;
  padding: 0.6rem 1.75rem;
  font-size: 1rem;
  border-radius: 0%;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.blog-card {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.blog-card .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.blog-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer-bg {
  -webkit-box-shadow: -10px -10px 50px rgba(0, 0, 0, 0.05);
          box-shadow: -10px -10px 50px rgba(0, 0, 0, 0.05);
}

.footer-bg .list-group-item {
  border: none;
  padding-left: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.contact input,
.footer-bg input {
  border: none;
  border-bottom: 1.5px solid black;
  padding-left: 0px;
  border-radius: 0%;
}

.contact input:focus,
.footer-bg input:focus {
  border: none;
  border-bottom: 2px solid black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.check-btn {
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

#carousel button.circle {
  height: 10px;
  width: 10px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px #0000001e;
          box-shadow: 0px 3px 6px #0000001e;
}

.hide-when-small {
  display: none;
}

@media (max-width: 767px) {
  .hide-when-small {
    display: block;
  }
}

.hide-when-big {
  display: inline-block;
}

@media (max-width: 767px) {
  .hide-when-big {
    display: none;
  }
}

.product-cards {
  background: #ededed;
  background: radial-gradient(circle, #ededed 50%, #fafafa 100%);
}

.bg-lighter {
  background-color: #ffffce;
}

.text-muted {
  color: #b5b5b5 !important;
}

@media (max-width: 767px) {
  .font-make-smaller {
    font-size: 2.5rem;
  }
}

.italic {
  font-style: italic;
}

.product-info .nav-pills .nav-link.active,
.product-info .nav-pills .show > .nav-link {
  background-color: transparent !important;
  color: black;
  font-size: 1.3rem;
  text-align: left;
  text-decoration: underline;
}

.product-info .nav-pills .nav-link {
  color: black;
  font-size: 1.3rem;
  text-align: left;
}

.pointer {
  cursor: pointer;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.close {
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.close:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */